


.container {
    margin: 20px;
}

.simple-button {
    padding: 10px;
    
    background-color: #EC9A29;
    border-style: none;
    margin-bottom: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    position: relative;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.332);
}
* {
    cursor: none;
}

.cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    /*Keeps our custom cursor on the user's screen*/
    position: fixed;
    pointer-events: none;
    /*makes sure the background images will sort of fit the cursor*/
    background-size: cover; 
    transition: scale 300ms;
}

.cursorGrow {
scale: 8;
}
map > div:not(div:nth-child(5)) {
    border-bottom: solid ;
}

@media (max-width: 480px) {
    map {
        font-size: 4.8rem;
    }
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.symptomsContainer {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    grid-auto-flow: dense
}

#app {
    padding-top: px;
    width: 350px;
    
background-color: #0F8B8D;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.332);
}

.symptom {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* Ensure the circle shape */
    background-color: white;
    width: 60px;
    height: 60px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.332);
    
}

#searchSection {
    padding: 20px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
    overflow: hidden;
    border-radius: 15px;
    background-color: white;
    border-color: #d71b1b;
    border-width: 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.332);


}
::-webkit-scrollbar {
    width: 10px; /* Width of the entire scrollbar */
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scroll handle */
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scroll handle on hover */
}
#searchBar {
    width: 300px;
    height: 30px;
    border-radius: 15px;
    border-style: solid;
    padding-left: 10px;
    margin: 0px;
    margin-bottom: 0px;
    border-color: #cecece;
    border-width: 2px;
    background-color: rgb(232, 232, 232);
    border-style: none;
}

#searchBar:focus {
    border: red; /* Set the border color to red when focused */
    /* Add other styles as needed */
}


.suggestion:hover {
    background-color: #ededed;
}

.symptomsCue {
    margin-top: 30px;
    padding-right: 10px;
    width: 280px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: 500;
    color: white;
    font-size: large;
    overflow-x: auto; /* Enable horizontal scrolling */
    scrollbar-width: none;
    
}



/* Hide the scrollbar */
.symptomsCue::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for WebKit (Chrome, Safari, etc.) */
}

.symptomsCue>* {
    margin-left: 10px;
    
    /* Adjust the margin value as needed */
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.332);
}

.symptomBall {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ec9a29;
    min-width: 40px;
    height: 40px;
    border-radius: 50px;
}

.suggestion {
    height: 30px;
    width: 300px;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    /* Change display property to block */
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: white;
}

#suggestionsContainer {
    margin-top: 5px;

}

.symptom img {
    height: 40px;
}
.arms {
background-image: url('https://sa1s3optim.patientpop.com/assets/images/provider/photos/2512976.jpg');
}
.legs {
background-image: url('https://assets-global.website-files.com/6419c6455bd31b5d09bbe049/6425ed7d6a78de6fc954464e_leg-pain-xray.jpeg');
}
.chest {
background-image: url('https://www.decrescenzochiropractic.com/wp-content/uploads/Chiropractic-East-Providence-RI-Chest-Pain.jpg');
}
.abdomen {
background-image: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/19-abdominal-pain-sebastian-kaulitzkiscience-photo-library.jpg');
}
.joints {
background-image: url('https://domf5oio6qrcr.cloudfront.net/medialibrary/9110/iStock-592655170.jpg');
}
.head {
background-image: url('https://www.pyrexar.com/images/head-neck-3d.jpg');
}